 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

html {
background: red;
}

.logo {
    width: 130px;
    height: 130px;
}
 
.logo-img {
    height: 50%;
    width: 50%;
}

