 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

html {
background: red;
}

.logo {
    width: 55px;
    height: 55px;
    margin-right: 1px;
}
 
.logo-img {
    height: 50px;
    width: 50px;
}

nav {
    list-style-type: none;
    text-align: right; 
    width: 100%;  
}

.wrapper {
    height: 50px;
    width: 100%;
    background: rgb(8, 133, 206);
}

nav ul {
    text-align: right;
}

nav li {
    display: inline;
}

nav li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 }

nav li {
    float: right;
}

header {
    height: 100px;
    width: 100%;
    background: rgb(0, 201, 60);
}
